<!-- Page header -->
  <header class="page-header m-b-none">      
      <div class="container page-name">
        <h1 class="text-center">View Jobs Offer</h1>
        <p class="lead text-center padder-bt-xxl">
           <%= Job.count %>Here's the list of your submitted jobs. You can edit or delete them, or even add a new one.
        </p>
      </div>
  </header>
<!-- END Page header -->
<!-- Main container -->
  <main>
      <section class="no-padding-top bg-alt">
        <div class="container">

          <div class="row">

            <div class="col-xs-12 text-right">
              <br>
              <%= link_to "Create New Company", 
              new_company_path, 
              :class=>"btn btn-primary btn-sm" 
              %>
            </div>

          </div>
          <div class="row">

            <div class="col-xs-12 text-center">  
            <%= paginate @companies %>
            </div>

          </div>
          <div class="row"> 

            <div class="col-md-12">
              <% @companies.each do |company| %>
              <%= current_user.budget %>
                <div class="item-block">
                  <header>
                    <a href="/dashboard/<%= company.id %>">
                      <img src="assets/logo-job.png" alt="" width="160">
                    </a>
                    <div class="hgroup">
                      <h4>
                      <a href="/dashboard/<%= company.id %>">
                      <%= company.name  %>
                      </a>                               
                      </h4>
                      <% if company.user_id == current_user.id %>
                      <span class="glyphicon glyphicon-user">    
                      </span>                            
                      <% end %>  
                      <h5><a href="<%= company.website %>">
                          <%= company.website %>                        
                      </a></h5>
                    </div>
                    <div class="header-meta">
                      <span class="location">            
                        <%= company.city.name %>
                      </span>
                      <time datetime="2016-03-10 20:00">
                        <%= company.decorated_created_at %>
                      </time>
                    </div>
                  </header>
                  <footer>
                    <p class="status">
                      <strong>Status:</strong> 
                      Pending approval hahahaha
                    </p>
                    <div class="action-btn">
                      <% if company.user_id == current_user.id %>
                      <a href="/companies/<%= company.id %>/edit" class="btn btn-xs btn-gray">
                        Edit
                        </a>
                      <%= link_to 'Delete', {:action =>'destroy', :id => company.id}, 
                        :confirm =>'Are you sure?', :method =>:delete,:class=>'btn btn-xs btn-danger'
                        %>
                        <% end %>
                    </div>                    
                  </footer>
                </div>  
              <% end %> 
            </div>

          </div>
          <div class="row">

            <div class="col-xs-12 text-center">           
              <%= paginate @companies %>
            </div>

          </div>

        </div>
      </section>
  </main>
<!-- END Main container -->

