<div class="container">
  <div class="row">
    <div class="header-detail m-t-extra">
      <div class="hgroup">
        <h1><a href="#"><%= @company.name %></a></h1>
        <span>
          <a href="#"><%= @company.website %></a>
        </span>
        <i class="fa fa-map-marker"></i>
        <span><%= @company.city.name %></span>
      </div>
      <time datetime="2016-03-03 20:00">
        <%= @company.decorated_created_at %>
      </time>
      <hr>
      <ul class="details cols-2">
        <li>
          <i class="fa fa-map-marker"></i>
          Address:
          <span><%= @company.address %></span>
        </li>
        <li>
          <i class="fa fa-briefcase"></i>
          Company Type:
          <span><%= @company.category.name %></span>
        </li>      
      </ul>
      </p>
    </div>
  </div>  
</div>
<!-- </header> -->
<!-- END Page header -->
<hr>
<!-- Main container -->
<main>
<!-- company detail -->
<section class="no-padder">
  <div class="container">
    <h4>About</h4>
    <p><%= @company.about %></p>
  </div>
</section>
<div class="container">

  <div class="row">

    <div class="col-xs-12 text-center">            
      <h4>Here is Jobs You Submitted!</h4>
    </div>

  </div>
  <div class="col-xs-12 text-center">
    Total Jobs = <%= @count%> 
  </div>
  <div class="row">

    <div class="col-xs-12 text-right">            
      <%= link_to "Add a job", 
      new_job_path, 
      :class=>"btn btn-primary btn-sm" 
      %>
    </div>

  </div>
  <div class="row">

    <div class="col-xs-12 text-center">  
    <%= paginate @jobs %>
    </div>

  </div>
  <div class="row">
      <!-- Job detail -->
      <div class="col-md-12">
        <% @jobs.each do |job| %>
        <div class="col-md-6">
          <div class="item-block">
            <header>
              <a href="/jobs/<%= job.id %>">
                <img src="../assets/logo-job.png" alt="" width="160">
              </a>
              <div class="hgroup">
                <h5><a href="/jobs/<%= job.id %>">
                <%= job.title  %>
                </a></h5>
                
                <% if job.company.id == @company.id %>
                <span class="glyphicon glyphicon-user">    
                </span>                            
                <% end %>  
                <h5><%= job.company.name %></h5>
              </div>
              <div class="header-meta">
                <span class="location">            
                  <%= job.city.name %>
                </span>
                <time datetime="2016-03-10 20:00">
                  <%= job.decorated_created_at %>
                </time>
              </div>
            </header>
            <footer>
              <p class="status">
                <strong>Status:</strong> 
                <%= job.status %>
              </p>
              <div class="action-btn">
                <a href="/jobs/<%= job.id %>/edit" class="btn btn-xs btn-gray">  Edit</a>
                  <%= 
                  # link_to 'Delete', @job, method: :delete, data: { confirm: 'Are you sure you want to delete this alert?' }

                  # link_to 'Delete', 
                  #   {:action =>'destroy', :id => job.id,:confirm =>'Are you sure?'},:method =>:delete,:class=>'btn btn-xs btn-danger'
                  %>
                  <%= link_to "delete", {:controller => :jobs,
                        :action => 'destroy', :id => job.id }, :method => :delete,:class=>'btn btn-xs btn-danger',
                        data: { confirm: 'Are you sure you want to delete this alert?' } 
                  %>
              </div>            
            </footer>
          </div>              
        </div>
        <% end %>             
      </div>
    <!-- END Job detail -->
  </div>
    
  <div class="row">
    <div class="col-xs-12 text-center">  
      <%= paginate @jobs %>
    </div>
  </div>
</div>
<!-- END company detail -->
</main>
<!-- END Main container -->
<!-- Back to top button -->
<a id="scroll-up" href="#">
<i class="ti-angle-up"></i></a>
<!-- END Back to top button -->
