<!-- Page header -->
    <header class="page-header m-b-none">      
      <div class="container page-name">
        <h1 class="text-center">Admin Panel To Manage All Activities</h1>
        <p class="lead text-center padder-bt-xxl">
          You are now logined by admin role. Now, you can manage all activities.
        </p>
      </div>
    </header>
<!-- END Page header -->
<!-- Main container -->
    <main>
      <section class="no-padding-top bg-alt">
        <div class="container">

          <div class="row">
              <div class="col-xs-3 text-center">
              <br>
                <a href="/admin/companies" class="btn btn-sm btn-primary">Manage Companies</a>
              </div>
              <div class="col-xs-3 text-center">
              <br>
                <a href="/admin/jobs" class="btn btn-sm btn-primary">Manage Jobs</a>
              </div>
              <div class="col-xs-3 text-center">
              <br>
                <a href="/admin/boostcampaings" class="btn btn-sm btn-primary">Manage Boost Campaings</a>
              </div>
              <div class="col-xs-3 text-center">
              <br>
                <a href="/admin/boosts" class="btn btn-sm btn-primary">Manage Boosts</a>
              </div>
          </div>
          <div class="row">
            <div class="col-xs-12 text-center">
            <h5>User Added campaings</h5>
              <%= paginate @campaings %>                           
            </div>
          </div>
          <div class="row">
            <!-- company detail -->
              <% @campaings.each do |campaing| %>            
              <div class="col-xs-12">
                <div class="item-block">
                  <header>
                    <a href="/admin/boostcampaings/<%= campaing.id %>">
                      <img src="../assets/logo-job.png" alt="" width="160">
                    </a>
                    <div class="hgroup">
                      <h4>
                      <a href="/admin/boostcampaings/<%= campaing.id %>">
                      <%= campaing.job.title  %>
                      </a>                               
                      </h4>
                      <span class="glyphicon glyphicon-user"></span>              
                      Request by <b><%= campaing.user.email %></b>
                    </div>
                    <div class="header-meta">
                      <span class="location">            
                        <%= campaing.job.city.name %>
                      </span>
                      <time datetime="2016-03-10 20:00">
                      Added at:
                        <%= campaing.decorated_created_at %>
                      </time>
                    </div>
                  </header>
                  <footer>
                    <p class="status">
                      <strong>Status:</strong> 
                      <%= 
                      campaing.status 
                      %>
                    </p>

                    <div class="action-btn">
                      <a href="/admin/boostcampaings/<%= campaing.id %>/edit" class="btn btn-xs btn-gray btn-primary">Confirm</a>
                      <%= 
                      # link_to 'Delete', {:action =>'destroy', :id => campaing.id}, 
                      #   :confirm =>'Are you sure?', :method =>:delete,:class=>'btn btn-xs btn-danger'
                        %>
                    </div>
                    
                  </footer>
                </div>
              </div>              
              <% end %> 
              <!-- END company detail --> 
          </div>
          <div class="row">
            <div class="col-xs-12 text-center">           
              <%= paginate @campaings %>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 text-center">
            <h5>User Edited campaings</h5>
              <%= paginate @campaings %>                           
            </div>
          </div>
          <div class="row">
            <!-- company detail -->
              <% @edited_campaings.each do |edited_campaing| %>            
              <div class="col-xs-12">
                <div class="item-block">
                  <header>
                    <a href="/admin/campaings/<%= edited_campaing.id %>">
                      <img src="../assets/logo-job.png" alt="" width="160">
                    </a>
                    <div class="hgroup">
                      <h4>
                      <a href="/admin/campaings/<%= edited_campaing.id %>">
                      <%= edited_campaing.job.title  %>
                      </a>                               
                      </h4>
                      <span class="glyphicon glyphicon-user"></span>              
                      <h5><%= 
                      #edited_campaing.website 
                      %></h5>
                    </div>
                    <div class="header-meta">
                      <span class="location">            
                        <%= edited_campaing.job.city.name %>
                      </span>
                      <time datetime="2016-03-10 20:00">
                      Edited at:
                        <%= edited_campaing.job.decorated_updated_at %>
                      </time>
                    </div>
                  </header>
                  <footer>
                    <p class="status">
                      <strong>Status:</strong> 
                      <% 
                      edited_campaing.status 
                      %>
                    </p>

                    <div class="action-btn">
                      <a href="/admin/campaings/<%= edited_campaing.id %>/edit" class="btn btn-xs btn-gray">Edit</a>
                      <%= link_to 'Delete', {:action =>'destroy', :id => edited_campaing.id}, 
                        :confirm =>'Are you sure?', :method =>:delete,:class=>'btn btn-xs btn-danger'
                        %>
                    </div>
                    
                  </footer>
                </div>
              </div>              
              <% end %> 
              <!-- END company detail --> 
          </div>
          <div class="row">
            <div class="col-xs-12 text-center">           
              <%= paginate @edited_campaings %>
            </div>
          </div>

        </div>
      </section>
    </main>

<!-- END Main container -->

