
    <!-- Site header -->
<header class="site-header size-lg text-center" style="background-image: url(<%= asset_path('bg-banner2.jpg') %>)">

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <form class="header-job-search">
        <div class="input-keyword">             
          <%= text_field_tag :job_title,params[:job_title],{:class=>"form-control"} %>          
        </div>

        <div class="input-location">
          <%= select_tag :city_id, options_from_collection_for_select(City.all, :id, :name, params[:city_id]),{:class=>'form-control',include_blank: 'View By City'} %>
        </div>

        <div class="btn-search">
          <button class="btn btn-primary" type="submit">
            Find jobs
          </button>
        </div>
      </form>
    </div>
    </div>
  </div>
</header>
<!-- END Site header -->


<!-- Main container -->
<main>
  <!-- Recent jobs -->
  <section>
    <div class="container">
      <div class="row item-blocks-connected">
        <div class="col-md-12">
          <div class="col-xs-12">
            <header class="section-sub-header">
              <h2>Recent jobs</h2>
            </header>
                    
            <% @jobs.each do |job| %>
              <%= render("jobs/job_preview", job: job) %>
            <% end %>
              <%= paginate @jobs %>                    
            </div>

          </div>
        </div>

      </div>

    </div>

  </section>
  <!-- END Recent jobs -->

</main>
<!-- END Main container -->

<!-- Back to top button -->
<a id="scroll-up" href="#"><i class="ti-angle-up"></i></a>
<!-- END Back to top button -->
