<!DOCTYPE html>
<html>
<head>
  <title>MomolayJob</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body class="nav-on-header smart-nav">

  <%= render "layouts/nav" %>
  <%= render "layouts/banner" %>
  <%= yield %>

</body>
</html>
